/* CSS Document */

body 
{ 
 text-align:center; 
 background-repeat: repeat; 
 background-attachment: fixed; 
 background-size: 100%; 
} 

a{
	color: black;
}

a:hover{
	color: #4D0406;
	text-decoration: none;
}

footer{
	padding-top: 2%;
	padding-bottom: 2%;
}

.nav-link, .lienAdmin{
	color: #4D0406;
}

.lienTitleChapter{
	color: #D79D94;	
}

.bold{
	font-weight:bolder;
}


h1{
	
	font-size: 50px;
	text-transform: uppercase;
}

h2{
	color: #7C94B7;
}

h3{
	color: #DABBBE;
}

#layout1{
	height: 600px;
}

#intro{
	position: relative;
	top: 40%;
	color: #CC6733;
}

#header{
	border: 5px solid  #7C94B7;
	text-transform: uppercase;
	padding: 2%;
	margin: 0;
	position: relative;
	top: 60%;
	width: 40%;
	left: 30%;
	color: #CC6733;
}
 
#layout2, #navLayout{
	width: 80%;
	margin-left: 10%;
}

#layout2{
	background-color:whitesmoke;
}

.nav{
	background-color: rgba(255, 255, 255, 0.175);
	padding: 0;
}

.nav li{
	padding: 0 2rem;
}

.nav li.active{
	background-color:whitesmoke;
}

.titleDisplay{
	padding-top: 5%;
	padding-bottom: 2%;
	display: flex;
}

.decoTitle{
	width: 20%;
}

.description{
	padding-top: 5%;
}

.about{
	background-color: whitesmoke;
	margin-left: 1%;
	border: #DABBBE solid 1px;
}

.admin{
	text-align: left;
}

.decoFooter{
	border-top: 1px black solid
}



.notif{
	text-align: center;
	text-transform: uppercase;
	background-color: rgba(7,9,241,0.20);
	border: 1px solid  rgba(7,9,241,1.00);
	padding: 1.5%;
    position: relative;
    top: 16.6%;
    left: 25%;
    width: 54.5%;
}

.com{
	padding: 2%;
    border-radius: 5px 10px 0 5px;
    background-color: white;
}

.displayCom{
	background-color: lightgray;
    padding: 5% 1% 5%;
}

.notifDate{
	text-align: right;
	font-size: 11px;
}

.material-icons{
	font-size: 17px;
	
}
